<%= render "shared/header" %>

    <%= image_tag @article.image ,class:"item-box-img" %>
    <h2 class="title">
      <%= @article.title %>
    </h2>
   <div class="text">
   <span><%=@article.text%></span>
   </div>
      <div class="category">
   <span><%=@article.category.name%></span>
   </div>

<%= render "shared/footer" %>